:root {
    --green: hsl(144, 60%, 36%);
    --red: hsl(357, 65%, 59%);
    --dark-red: hsl(356, 46%, 43%);
    --yellow: hsl(30, 57%, 55%);

    --dark: hsl(220, 30%, 12%);
    --primary: hsl(211, 54%, 15%);
    --light: hsl(213, 33%, 28%);
}

.AppHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.App {
    color: white;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    pointer-events: all;
    background-color: var(--light);
    font-family: 'DM Mono';

    border-radius: 8px 8px 8px 8px;
}

.Topbar {
    width: 100%;
    height: 10vh;
    background-color: var(--primary);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 30px;
    font-family: 'DM Mono', monospace;

    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid red;
    z-index: 2;
}

.Main {
    width: 100%;
    height: 80vh;
    display: flex;
}

.Sidebar {
    width: 15%;
    height: 100%;
    background-color: var(--dark);
    min-width: 130px;

    border-radius: 0px 0px 0px 8px;
}

.SidebarButton {
    cursor: pointer;
    padding: 16px;
}

.SidebarButton:hover {
    background-color: #30455f;
}

.Container {
    width: 100%;
    padding: 8px;
}

.Spinner {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
  *PAGES
*/

.PageMain {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 20px;
}

.PageSectionContainer {
    width: 100%;
    display: flex;
    padding: 8px;
    flex-direction: column;
    background-color: var(--primary);
}

.PageSectionPadding {
    padding: 4px;
}

.SearchBar {
    width: 95%;
    height: 95%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ListItemsContainer {
    flex: 1;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

.ListItem {
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    flex-direction: column;
    background-color: hsl(218, 31%, 12%);
    font-size: 14px;
    border-radius: 4px;
}
/* 
.ListItem:hover {
    background-color: hsl(218, 31%, 12%);
} */

.ListItemButton {
    padding: 8px;
    flex-direction: column;
    font-size: 14px;

    width: 100%;
}

.ModalContainer {
    display: flex;
    padding: 16px;
    box-sizing: border-box;
    flex-direction: column;
    background-color: var(--dark);
    border-radius: 16px;
    border: 4px solid #30455f;

    width: 25vw;
    min-width: 300px;
}

.Modal {
    overflow: auto;
    width: 100%;
    height: 100%;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ModalTopbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.205);

    background: hsla(334, 33%, 28%, 0.822);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(334, 33%, 28%);
}

.ql-toolbar {
    border: 0px !important;
}

.ql-container {
    border: 0px !important;
}
