.App {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  color: white;
}

.GradientBackground {
  height: 100%;
  width: 100%;

  background: linear-gradient(-45deg, #bb5d41, #bd3166, #176c8b, #1aa081);
  background-size: 400% 400%;
  animation: gradient 220s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
